
@{
    ViewBag.Title = "Index";
 
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <span class="arrow-back"></span>
            <span class="test">რედაქტურევა</span>
            <span class="verbal">პროფილი</span>
        </div>
    </div>
    <div class="row two-cl">
        <div class="freeBarArea">
            <div class="changePass">
                <h2>პაროლის შეცვლა</h2>
           
                <input type="text" placeholder="ძველი პაროლი">
                <input type="text" placeholder="ახალი პაროლი">
                <input type="text" placeholder="გაიმეორეთ პაროლი">
                <button class="Update">განახლება</button>
            </div>
        </div>
        <div class="PremiumBarArea">
            <div class="changePass">
                <h2>განახლება</h2>
                <div class="person">
                    <p>გიორგი მაისურაძე</p>
                    <span></span>
                </div>

                <div class="infoInput">
                    <input type="text" placeholder="პირადი ნომერი">
                    <span></span>
                </div>
                <div class="infoInput">
                    <input type="text" placeholder="ტელეფონის ნომერი">
                    <span></span>
                </div>
                <button class="Update">განახლება</button>
            </div>
        </div>
    </div>

</div>
