
@{
    ViewBag.Title = "Index"; 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form  method="post">
    <input type="text" name="path" placeholder="DiskName:\FolderName(optional)\FileName" size="500" />

    <input type="submit" value="დასტური" /> 
</form>