<table style="width:600px;border-spacing: 0;" class="raodenobrivi-table">
    <tbody>
        <tr>
            <td style="text-align:center;border:1px solid black; width:250px;">A</td>
            <td style="text-align:center;border:1px solid black; width:250px;">B</td>
        </tr>
    </tbody>
</table>

<div style="padding:10px 15px; border:1px solid black; width:600px;margin-top:15px;" >
    <div style="width:250px;display: inline-block;border: 1px solid black;vertical-align: middle;" class="table-p">
        <p style="font-size: 15px; text-align:center;"></p>
    </div>

    <div style="width:250px; margin-left:20px; text-align:center;display: inline-block;border: 1px solid black; vertical-align: middle;">
        <p></p>
    </div>
</div>
