
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ParseUtf</title>
</head>
<body>
    <div> 
        <form method="post">
            <textarea name="myStr" rows="10" cols="80"></textarea>
            <input type="submit" />
        </form>
        <div id="result">
            @ViewBag.Result
        </div>
    </div>
</body>
</html>
