/* teachers styles */
/* first page */
.TextTT{
	display: inline-block;
	vertical-align: middle;
	font: 14px 'dejavu';
}
.LogOutRedSvg{
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
	background: url('img/off.png')center no-repeat;
	width: 20px;
	height: 20px;
	margin-left: 10px;
}
.tableJumb{
	margin-top: -20px;
	background: #f8f9fa;
	padding: 32px 0px;
}
.searchbar{
	width: 100%;
	height: 100%
}
.searchbar span.searchIc{
	height: 26px;
	width: 26px;
	background: url('img/svg/search.svg')center no-repeat;
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
.searchbar input.searchIn{
	background:#f8f9fa;
	outline: none;
	border: 3px solid transparent;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	-webkit-transition: border 300ms ease-in-out;
    -moz-transition: border 300ms ease-in-out;
    -o-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out;
	padding:10px 20px;
	font: 16px 'bpg-web-001-caps';
	margin-left: 30px;
	color: #f8f9fa;
}
.addTeacherBut{
	width: 155px;
	height: 40px;
	background: #9ccc65;
	background-size: 20px 20px;
	background-position: right center;
	outline: none;
	border:0px;
	margin-top: 3px;
}
.addTeacherBut .text{
	display: inline-block;
	vertical-align: middle;
	font: 14px 'bpg-web-001-caps';
	color: #fff;
}
.addTeacherBut .plus{
	background: url('img/svg/plus.svg')center no-repeat;
	background-size: cover;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin: -4px 0px 0px 10px;
	padding-top: -2px;
}
.panelArea{
	width: 100%;
	height: 100%;
}
.headers{
	padding: 30px 0px;
}
.headers span{
	display: inline-block;
	vertical-align: middle;
	width: calc(100%/4 - 17px);
	vertical-align: middle;
}
.content span{
	vertical-align: middle;
}
.values{
	display: inline-block;
	width: calc(100% - 54px);
	vertical-align: middle;
}
.values div{
	width: calc(100%/4 - 9px);
	float: left;
	height: 50px;
	line-height: 50px;
}
.headers .profile{
	display: inline-block;
	width: 40px;
	background: url('img/svg/teacherUser.svg')center no-repeat;
	background-size: 60%;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #f4f4f4;
}
.content .profile{
	display: inline-block;
	width: 40px;
	border: 2px solid #f4f4f4;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.content .profile img{
	display: inline-block;
	width: 100%;
	background-size: 100%;
}
.headers .name{
	color: #00ace0;
	font: 14px 'dejavu';
	padding-left: 44px;	
}
.headers .idNum{
	color: #00ace0;
	font: 14px 'dejavu';
	padding-left: 44px;
}
.headers .currentNumber{
	color: #00ace0;
	font: 14px 'dejavu';
	text-align: center;
}
.headers .lastNubmer{
	color: #00ace0;
	font: 14px 'dejavu';
	text-align: center;
}
.content{
	padding: 5px 0px;
}
.content .name{
	font: 14px 'dejavu';
	margin-left: 34px;	
	background: #f8f9fa;
	padding-left: 10px;
	padding-top: 18px;
}
.content .idNum{
	font: 14px 'dejavu';
	padding-left: 16px;
	background: #f8f9fa;
	padding-top: 18px;
}
.content .currentNumber{
	font: 18px 'dejavu';
	text-align: center;
	background: #f8f9fa;
	padding-top: 18px;
	color: #f1aa28;
}
.content .currentNumber .icon{
   	width: 12px;
   	height: 12px;
   	display: inline-block;
   	vertical-align: middle;
   	background-size: cover;
   	background: url('img/count.png')center no-repeat;
   	margin-top: -5px;
}
.content .currentNumber .text{
  	padding-left: 20px;
}
.content .lastNubmer{
	font: 18px 'dejavu';
	text-align: center;
	background: #f8f9fa;
	padding-top: 18px;
	position: relative;
}
.content:hover  .lastNubmer .teachClose{
	display: block;
}
.content .lastNubmer .teachClose{
	position: absolute;
	width: 20px;
	height: 20px;
	right: -20px;
	cursor: pointer;
	display: none;
	top: 15px;
	background: url('img/svg/redClosse.svg')right no-repeat;
	background-size: 13px 20px;
	background-position: right center;
}
.content .lastNubmer .green_icon{
   	width: 12px;
   	height: 12px;
   	display: inline-block;
   	vertical-align: middle;
   	background-size: cover;
   	background: url('img/greenCircle.png')center no-repeat;
   	margin-top: -5px;
}
.content .lastNubmer .green_text{
  	padding-left: 20px;
  	color: #9ccc65;
}
.content .lastNubmer .red_icon{
   	width: 12px;
   	height: 12px;
   	display: inline-block;
   	vertical-align: middle;
   	background-size: cover;
   	background: url('img/redCircle.png')center no-repeat;
   	margin-top: -5px;
}
.content .lastNubmer .red_text{
  	padding-left: 20px;
  	color: #ef5350;
}
/* first page */
/* aut */
.navigation{
	height: 70px;
	width:100%;
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
}
.TeachLogo{
	background: url('img/svg/logo.svg')center no-repeat;
	background-size: 100%;
	width: 103px;
	height: 20px;
	margin-top: 24px;
	display: inline-block;
}
.swicherBl{
	width: 100%;
	height: 100px;
	background: #eee;
}
.swicherBl .teachCont .aut,
.swicherBl .teachCont .reg{
   width: 50%;
   height: 100%;
   float: left;
   display: inline-block;
   border: 0px;
   outline: none;
   color: #93a8bd;
   font: 17px 'bpg-web-001-caps';
   background: transparent;
   border-bottom: 3px solid transparent;
   -webkit-transition: border 300ms ease-in-out;
   -moz-transition: border 300ms ease-in-out;
   -o-transition: border 300ms ease-in-out;
   transition: border 300ms ease-in-out;
}
.swicherBl .teachCont .aut:hover,
.swicherBl .teachCont .aut.active{
	border-bottom: 3px solid #00ace0;
	-webkit-transition: border 300ms ease-in-out;
    -moz-transition: border 300ms ease-in-out;
    -o-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out;
}
.swicherBl .teachCont .reg:hover,
.swicherBl .teachCont .reg.active{
	border-bottom: 3px solid #00ace0;
   -webkit-transition: border 300ms ease-in-out;
    -moz-transition: border 300ms ease-in-out;
    -o-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out;
}
.teachCont{
	max-width: 490px;
	height: 100%;
	margin:0 auto;
}
.mrgTp{
	margin-top: 100px;
	text-align: center;
}
.IconUser{
	width: 70px;
	height: 70px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #e7e7e7;
	background : url('img/svg/teacherUser.svg')center no-repeat;
	background-size: 40%;
}
.loginBar{
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
.loginBar .pass,
.loginBar .user{
	width: 100%;
	height: 50px;
	background: #eee;
	border: 0px;
	outline: none;
	text-align: center;
	margin-top: 10px;
	font: 16px 'dejavu';
	color: #93a8bd;
}
.loginBar button{
	border: 0px;
	outline: none;
}
.loginBar .teachAutBuT{
	display: block;
	margin: 20px auto;
	border: 0px;
	outline: none;
	font: 16px 'bpg-web-001-caps';
	width: 100%;
	height: 50px;
	background: #9ccc65 url('img/svg/arrow_right.svg')right no-repeat;
	background-size: 50px 20px;
	color: #fff;
	line-height: 55px;
}
.loginBar .teachForgetPas{
	height: 50px;
	background: transparent;
	border-bottom: 1px solid #e7e7e7;
	outline: none;
	font: 14px 'dejavu';
	color: #93a8bd;

}
/* aut */
/* reg */
.registrationTeach{
	display: block;
	margin: 20px auto;
	border: 0px;
	outline: none;
	font: 16px 'bpg-web-001-caps';
	width: 100%;
	height: 50px;
	background: #9ccc65 url('img/svg/arrow_right.svg')right no-repeat;
	background-size: 50px 20px;
	color: #fff;
	line-height: 55px;
}
.IconUserReg{
	width: 70px;
	height: 70px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #e7e7e7;
	background : url('img/svg/teachRegIcon.svg')center no-repeat;
	background-size: 60%;
}
.regFade{
	display: none;
}
.teachForHover:hover::-webkit-input-placeholder {
    color: #ef5350;
}
/* Firefox < 19 */
.teachForHover:hover:placeholder {
    color: #ef5350;
}
/* Firefox > 19 */
.teachForHover:hover::-moz-placeholder {
    color: #ef5350;
}

/* Internet Explorer 10 */
.teachForHover:hover:-ms-input-placeholder {
    color: #ef5350;
}
/*.teachForHover{
	background: url('img/redCircle.png')left no-repeat;
	background-size: 10px 10px;
	background-position: left center; 
}*/

/* reg */
/* teachers styles */