
<table style="width:600px;border-spacing: 0;">
    <tr style="">
        <td style="text-align:center;border:1px solid black; width:250px;">A</td>
        <td style="text-align:center;border:1px solid black; width:250px;">B</td>
    </tr>
</table>
<div style="padding:10px 15px; border:1px solid black; width:568px;margin-top:15px">
    <table style="width:568px;border-spacing: 0;">
        <tr style="">
            <td style="text-align:center;border:1px solid black; width:250px; "><p>ასდასდასდასდ</p></td>
            <td style="width:20px"></td>
            <td style="text-align:center;border:1px solid black; width:250px;"><p>ასდასდასდასდ</p></td>
        </tr>
    </table>
</div>